@import 'colors', './components/input';

.token_container {
  display: flex;
  justify-content: center;
  align-items: center;

  & h3 {
    cursor: pointer;
  }

  & h3:hover {
    text-decoration: underline;
  }
}

.main {
  position: relative;

  margin-block: 1rem;
  padding: 20px;
  background: $background-secondary;

  & .barrier {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);

    cursor: progress;
    z-index: 1;

    & div {
      width: 7rem;
      height: 7rem;

      border: 10px solid transparent;
      border-top: 10px solid $color-gray;
      border-radius: 50%;

      -webkit-animation: spin 450ms linear infinite;
      animation: spin 450ms linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  & form {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;

    width: 100%;

    & .animalGrid {
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      gap: 5px;

      width: 100%;

      & label {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100px;
        height: 100px;
        background: $background-tertiary;

        user-select: none;
        cursor: pointer;

        &:hover {
          background: $background-tertiary-hover;
        }
      }
    }

    & div.actions {
      width: 100%;

      & button[type='submit'] {
        padding: 10px 20px;
        background: $color-green;
        border: none;
        border-radius: 0.325rem;

        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;

        cursor: pointer;
      }
    }
  }
}
